

body {
	min-height: 100vh;
	background-color: black;
	margin: 50px 20px;
	postion: center ;
	min-width: 600px;
}

div {
	color: black;
	margin: 100px 20px;
	padding: 0px 0px 0px 0px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	height: relative;

}

p{
	font-family: "Josefin Slab";
	font-size: 16px;
	color: black;
	margin-top: 50px;
	border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    padding-top: 5px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
	background-color: lightgrey;
	border-color: black;
	border-style: solid;
	width: 250px;
	height: auto;


}

img {  
	background-color: white;
	border-color: white;
}

.full-width {
	max-width: 50vw;
	position: relative;
	width: 50vw;
	padding: 20px, 20px, 20px, 20px;
	background-color: white;
	border-color: white;
}

/*container holding image and text*/

.container {
	margin-left: -20px;
  position: relative;
  text-align: center;
  color: white;
}

.centeredtop {
	color: white;
	font-size: 20px;
	font-family: "Josefin Slab";
	border: none;
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translate(-50%, -50%);
}

.centeredbottom {
	color: white;
	font-size: 24px;
	font-family: "Josefin Slab";
	border: none;
  position: absolute;
  bottom:  8px;
  left: 50%;
  transform: translate(-50%, -50%);
	}

